.library {
    // background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    position: relative;
    padding: 1rem;
    left: 45rem;
    top: -10rem;
    hr {
      border: 0;
      height: 0.5px;
      width: 85%;
      background: #131313;
    }
    .album-songs {
        margin: 1rem;
        overflow: auto;
        height: 55vh;
    }

    .album-details {
      display: flex;
      flex-direction: row;
      width: 85%;
      align-items: center;
      justify-content: space-between;
      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      .album-rating {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
      }
        .rating-circles {
          color: white;
          margin: 2px;
          border: 2px solid black;
          border-radius: 50%;
        }  
    }
    
      h1, h2 {
        padding: 5px;
      }
      div {
        display: flex;
        flex-direction: row;
        h3 {
          padding: 0 5px 0 5px;
        }
      }
    }
}

.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  hr {
      width: 85%;
      border: 0;
      height: 1px;
      color: black;
  }
}

.rating-circles:hover {
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 57px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #1c1c1c;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 13px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #6b6b6b;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
