.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    // background-color: hotpink;
    width: 40rem;
    cursor: pointer;
    transition: all .5s ease;
    p{
        font-size: 10px;
        padding: 0 .25rem 0 .25rem;
        margin: .2rem;
        width: 75%;
    }
    .index {
        // background-color: red;
        width: 25%;

    }
}

.song:hover {
    background-color: rgb(87, 87, 87);
    border-radius: 30px;
    color: white;

}

.selected {
    background-color: rgb(87, 87, 87);
    border-radius: 30px;
    color: white;
    
}